<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.2">
    <persistence-unit name="MyPU" transaction-type="RESOURCE_LOCAL">
        <!-- JPA Provider (Hibernate in this case) -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- Specify your entity classes here -->

        <!-- Database Configuration for PostgreSQL -->
        <properties>

            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
            
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/employeev2_db" />
            
            <property name="javax.persistence.jdbc.user" value="postgres" />
            
            <property name="javax.persistence.jdbc.password" value="0074" />
            <!-- Hibernate Settings for PostgreSQL -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
            <property name="hibernate.hbm2ddl.auto" value="update" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />
        </properties>
    </persistence-unit>
</persistence>
